# .dockerignore
node_modules
.next
out
dist
coverage
.sonar
.git
.gitignore
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.md
!README.md
.github
.vscode
.idea
**/__test__
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
vitest.config.ts
vitest.setup.ts
playwright.config.ts